    <div class="actions d-flex justify-content-center">
        <a class="m-action btn btn-default mr-2" href="{{{additem}}}">
            <i class="fa fa-fw fa-plus"></i>
            {{#str}}addcard, mod_swipe{{/str}}
        </a>
        <a class="m-action btn btn-default mr-2" href="{{{view}}}">
            <i class="fa fa-fw fa-eye"></i>
            {{#str}}viewdeck, mod_swipe{{/str}}
        </a>
        <a class="m-action btn btn-default mr-2" href="{{{report}}}">
            <i class="fa fa-fw fa-tasks"></i>
            {{#str}}viewswipereport, mod_swipe{{/str}}
        </a>
    </div>